
.SkillsPage{
    padding-top: 5rem;
    background-image: url('../images/bg_img.avif');
    background-size: cover;
    padding-bottom: 5rem;
}

h2{
    margin-bottom: 20px;
}

.PageContent{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.progressBar{
    margin: 2rem;
    text-align: center;
}

.customProgressBar{
    width: 15rem;
    height: 15rem;
}

.skillName{
    font-size: 24px;
    font-weight: 600;
    margin-top: 2rem;
    /* color: #008080; */
}

.sliderCustomArrows{
    font-size: 32px;
    background-color: transparent;
    border: none;
    transition: background-color 0.3 ease;
    cursor: pointer;
    color: #000;
}

.sliderCustomArrows:hover{
    background-color: #ff6600;
    color: white;
}