
.SkillsPage{
    padding-top: 10%;

}

h2{
    margin-bottom: 20px;
}

.PageContent{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.progressBar{
    margin: 0 20px;
    text-align: center;
}

.customProgressBar{
    width: 15rem;
    height: 15rem;
}

.skillName{
    font-size: 20px;
    font-weight: 400;
}

.sliderCustomArrows{
    font-size: 32px;
    background-color: transparent;
    border: none;
    transition: background-color 0.3 ease;
    cursor: pointer;
}

.sliderCustomArrows:hover{
    background-color: #ff6600;
    color: white;
}